#cnv
{
    border: 3px red solid;
}
.lettre,.send{
    display: flex;
    justify-content: right;
}

.seen{
    text-align: center;
    width: 30%;
    height: 20%;
    margin-left: 60%;
    
    border: 2px black solid;
}
   
